<nav class="navbar navbar-default navbar-inverse" ng-hide="statename == 'login'">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="img/icon-invert.png" style="height:100%">
      </a>

      <ul class="nav navbar-nav">
        <li><a ui-sref="pending">Order</a></li>
        <li><a ui-sref="logistic">Etobee</a></li>
        <li><a ui-sref="box">Box</a></li>
        <li><a ui-sref="menu">Menu</a></li>
        <li><a ui-sref="ordering">Ordering</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <nav>
    <ul class="pager">
      <li class="previous"><a ng-click="getCurrent();" style="cursor:pointer"><span aria-hidden="true">&larr;</span> Previous Day</a></li>
      <li style="font-size:20px;font-weight:bold">{{title}}</li>
      <li class="next"><a ng-click="getNext();" style="cursor:pointer">Next Day <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </nav>
  <button class="btn btn-default pull-right" ng-click="sendAllEtobee()">Send to Etobee</button>
  <table class="table table-bordered">
    <thead>
        <tr><th>ID<th>Date<th>Details<th>Grandtotal<th>Payment<th>Status<th>Checkbox<th>Action
    </thead>
    <tbody>
    <tr ng-repeat="order in data | orderBy:['-payment_status','-order_status','order_date']">
      <td>{{order.unique_id}}<br/>{{order.order_id}}
      <td>{{order.order_date | date:'EEE, dd MMM' }}
      <td>{{order.customer_name}}<small> {{order.customer_email}} {{order.mobile}}</small><br/>
          <input class="form-control" type="text" ng-model="order.address_content"/>
      <td>{{order.grandtotal | number}}
      <td><ostat ng-switch="order.payment_status">
              <span ng-switch-when="0" style="color:red">Unpaid</span>
              <span ng-switch-when="1" style="color:green">Paid</span>
          </ostat>
          <br/><small>{{order.payment_method}}</small>
      <td style="text-align:center"><ostat ng-switch="order.order_status">
              <span ng-switch-when="-1" class="label label-warning">Cancelled</span>
              <span ng-switch-when="0" class="label label-default">Pending</span>
              <span ng-switch-when="1" class="label label-info">Confirmed</span>
              <span ng-switch-when="2" class="label label-success">Delivered</span>
          </ostat><br/>
          <small>{{order.delivery_code}}</small>
      </td>
      <td  style="text-align:center"><input type="checkbox" ng-model="order.chkbox">
      <td><button ng-click="sendEtobee(order.order_id)" ng-show="order.delivery_code == ''" class="btn">Send Etobee</button>
      </td>
    </tbody>
  </table>
</div>
