
<div class="container">
<form>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="userlogin.username"/>
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="userlogin.password"/>
      </div>
      <button type="submit" class="btn btn-default" ng-click="login(userlogin);">Submit</button>
    </div>
  </div>
</form>
</div>
