<nav class="navbar navbar-default navbar-inverse" ng-hide="statename == 'login'">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="img/icon-invert.png" style="height:100%"/>
      </a>

      <ul class="nav navbar-nav">
        <li><a ui-sref="pending">Order</a></li>
        <li><a ui-sref="history">History</a></li>
        <li><a ui-sref="box">Box</a></li>
        <li><a ui-sref="menu">Menu</a></li>

      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h3>Add New Menu</h3>

  <table class="table table-bordered">
      <tr>
          <th>Menu Name
          <td><input class="form-control" type="text">
      <tr>
          <th>Menu Subname
          <td><input class="form-control" type="text">
      <tr>
          <th>URL
            <td><input class="form-control" type="text">
  </table>



  <h4>Active</h4>
  <div class="rows">
    <div class="col-md-3" ng-show="editted">
      <div style="padding:10px;margin-top:10px;cursor:pointer" class="bg-primary" ng-click="saveIngredients();" >
        Save
        <i class="fa fa-check pull-right"></i>
      </div>
    </div>
    <div class="col-md-3" ng-repeat="ingr in usedIngr | orderBy :'ingredient_name'" style="cursor:pointer">
        <div style="border:1px solid #ddd;padding:10px;margin-top:10px" ng-click="removeFromList(ingr)" >
          {{ingr.ingredient_name}}
          <i class="fa fa-close pull-right"></i>
        </div>
    </div>
  </div>

  <div style="float:left;width:100%;margin:20px 0 0px">
    <h4 class="pull-left">Available</h4>
    <button class="btn btn-primary pull-right" ng-click="openModal()">+New</button>
  </div>

  <div class="rows">
        <div class="col-md-3" ng-repeat="ingr in ingredients | orderBy : 'ingredient_name' track by $index" ng-click="addToList(ingr)" style="cursor:pointer;">
          <div style="border:1px solid #ddd;padding:10px;margin-top:10px;">
              {{ingr.ingredient_name}}
              <i class="fa fa-plus pull-right"></i>
            </div>
        </div>
  </div>

</div>


<script type="text/ng-template" id="ModalIngredient.html">
        <div class="modal-header">
            <h3 class="modal-title">Add New Ingredient</h3>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="New Ingredient Name" ng-model="newIngr.ingredient_name"/>
          <label class="checkbox-inline" style="margin-top:10px">
            <input type="checkbox" id="inlineCheckbox1" value="1" ng-model="newIngr.addToUsedIngr"> Add To Active Ingredients List
          </label>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="saveIngredient()">Save</button>
            <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
        </div>
</script>
