<nav class="navbar navbar-default navbar-inverse" ng-hide="statename == 'login'">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="img/icon-invert.png" style="height:100%">
      </a>

      <ul class="nav navbar-nav">
        <li><a ui-sref="pending">Order</a></li>
        <li><a ui-sref="history">History</a></li>
        <li><a ui-sref="box">Box</a></li>
        <li><a ui-sref="menu">Menu</a></li>

      </ul>
    </div>
  </div>
</nav>
<div class="container">

  <h3 class="pull-left">Menus</h3>
  <button ng-click="newMenu()" style="margin-top:15px" class="btn btn-primary pull-right">+ New</button>
  <table class="table table-bordered">
    <thead>
        <tr><th>ID<th>Menu<th>Subname<th>Type<th>Recipe URL<th>Action
    </thead>
    <tbody>
      <tr ng-repeat="box in data">
        <td>{{box.menu_id}}
        <td>{{box.menu_name}}
        <td>{{box.menu_subname}}
        <td><span ng-if="box.menu_type==1">Couple</span><span ng-if="box.menu_type==2">Family</span>
        <td>{{box.menu_url}}
        <td style="width:92px"><div class="btn-group" dropdown>
                <a class="btn btn-info" ng-href="#/menu-edit/{{box.menu_id}}">Edit</a>
                <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle>
                  <span class="caret"></span><span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a ng-href="#/recipe-edit/{{box.menu_id}}">Edit Recipe</a></li>
                </ul>
            </div>
  </table>
</div>
